<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/styles/firstpage.css">
    </head>
<body class="back" style="width: 100%; height: 100%;">
    <div >
        <div style="padding-top: 100px;">
            <div class="d-flex justify-content-center" style=" height: 150px">
                <div style="height: 100px;width: 200px" class="row">
                     <button class="btn btn-success btn-lg" color="green" style="width: 200px" onclick="location.href='login';">
                        LOGIN
                    </button>
                 </div>
            </div>
                    
             <div class="d-flex justify-content-center" style="height: 150px">
                <div style="height: 100px; width: 200px" class="row">
                     <button class="btn btn-success btn-lg" color="green" style="width: 200px" onclick="location.href='register';">
                       REGISTER
                     </button>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="height: 150px">
                <div style="height: 100px; width: 200px" class="row">
                    <button class="btn btn-success btn-lg" color="green" style="width: 200px" onclick="location.href='QQviz';">
                        PLAY AS A GUEST
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>


</html>